.lista-productos-container {
    display: flex;
    flex-direction: column;
    .producto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h3 {
            text-transform: capitalize;
            font-size: 20px;
            margin: 0;
            color: gray;
        }
        .precio {
            font-size: 18px;
            font-weight: bold;
        }
    }
}
.save-button {
    width: 90%;
    margin: 3vw auto;
}

ion-item {
    --inner-padding-end: 0;
    margin-right: 4vw;
}

.hidden-item {
    visibility: hidden;
}

.scan-button {
    width: max-content;
    margin-left: auto;
    margin-right: 3vw;
    color: black;
    --background: white;
    font-weight: bold;
    ion-icon {
        margin-left: 10px;
    }
}
