.lista-productos-container {
    .producto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        h3 {
            text-transform: capitalize;
            font-size: 20px;
            margin: 0;
            color: gray;
        }
        .precio {
            font-size: 18px;
            font-weight: bold;
        }
    }
}
.save-button {
    position: absolute;
    bottom: 4vw;
    width: 92vw;
    left: 0;
    right: 0;
    margin: auto;
}

ion-item {
    --inner-padding-end: 0;
    margin-right: 4vw;
}

.hidden-item {
    visibility: hidden;
}
