.save-button {
    position: absolute;
    bottom: 4vw;
    width: 92vw;
    left: 0;
    right: 0;
    margin: auto;
}
ion-card {
    padding: 0 5vw 5vw;
    margin-top: 4vw;
}
.codigo {
    margin-top: 5px;
    font-weight: bold;
    font-size: 15px;
}
