.lista-productos-container {
    .producto-info {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        h3 {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 20px;
            margin: 0;
        }
        .precio {
            font-size: 18px;
            font-weight: bold;
            color: gray;
        }
    }
}

ion-button {
    --padding-end: 0;
}
