<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de productos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="lista-productos-container">
    <ion-card *ngFor="let producto of listaProductos">
      <ion-item lines="full">
        <div class="producto-info">
          <h3>{{producto.nombre}}</h3>
          <div class="precio">$ {{producto.precio}}</div>
        </div>
        <div slot="end">
          <ion-button color="dark" fill="clear" (click)="editarProducto(producto)">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" fill="clear" (click)="eliminarProducto(producto)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-item>
    </ion-card>
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="nuevoProducto()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>