<ion-content [fullscreen]="true">
  <h2>Buscar producto</h2>
  <div class="top-search">
    <ion-searchbar placeholder="Código de producto" inputmode="text" [debounce]="1000"
      (ionInput)="onSearchChange($event)" [debounce]="250"
      (ionClear)="onClear()"
      ></ion-searchbar>
    <ion-button (click)="scan()">
      <ion-icon slot="icon-only" name="barcode-outline"></ion-icon>
    </ion-button>
  </div>
  <ion-list class="filtered-items-wrapper">
    <ion-item (click)="selectItem(item)" *ngFor="let item of filteredElements">
      <ion-label>{{item[1]}}</ion-label>
    </ion-item>
  </ion-list>
  <div class="lista-productos-container">
    <div *ngIf="foundElement" class="info-items">
      <ion-list>
        <div class="title-list">{{foundElement[1]}}</div>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][12]}}</div>
            <div class="bottom">{{foundElement[12]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][13]}}</div>
            <div class="bottom">{{foundElement[13]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][3]}}</div>
            <div class="bottom">{{foundElement[3]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">Stock {{lastDoc.rows[1][20]}}</div>
            <div class="bottom">{{foundElement[20]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][4]}}</div>
            <div class="bottom">{{foundElement[4]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][5]}}</div>
            <div class="bottom">{{foundElement[5]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][6]}}</div>
            <div class="bottom">{{foundElement[6]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][7]}}</div>
            <div class="bottom">{{foundElement[7]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][8]}}</div>
            <div class="bottom">{{foundElement[8]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][9]}}</div>
            <div class="bottom">{{foundElement[9]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][10]}}</div>
            <div class="bottom">{{foundElement[10]}}</div>
          </div>
        </ion-item>
        <ion-item>
          <div class="item-wrapper">
            <div class="top">{{lastDoc.rows[1][11]}}</div>
            <div class="bottom">{{foundElement[11]}}</div>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>